<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  <!-- MAP-->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
    rel="stylesheet"
  />
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
  <link
    rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
    type="text/css"
  />
  <style>
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Righteous&display=swap');   
 
.heading{
      padding: 0%;
      text-align: center;
      font-size: 5rem;
      font-family: 'Righteous', cursive;
      color: #EEEEEE;
    }
    #map {

      height: 350px;
      margin-top: 15px;
    }
    .row{
      padding: 5px;

    }

    .weather_icon{
      margin-left: 5px;
    }
    .data{
      margin-top: 15px;
      background-color: rgb(105, 241, 241);
      margin-right: 20px;
      
    }
    .desc{
      margin-bottom: 10px;
      margin-top: 20px;

    }
    .city,.temp{
      font-family: 'Londrina Solid', cursive;
    }
    .data-visu{
      height: 50%;
      width: 50%;
    }
  </style>


</head>

<body>
  <nav class="row text-center" style="background-color: #512D6D;">
    <div><h1 class="heading">WEATHER DETECTOR</h1></div>
  </nav>
  <br />
  <br />
  <center class="row">
    <form action="" method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        <form>
  </center>
    {% if data.country_code %}
    <div class="data">
      <div class="col-md-6">
        <h1 class="city">{{city}}</h1>
      <h3 class="temp">Temp : {{data.temp}} <sup>0</sup>C</h3>
      <div class="flex">
      <h2 class="desc">{{data.desc}} </h2>
      <img src="http://openweathermap.org/img/wn/{{data.icon}}@2x.png" class="weather_icon" srcset="">
      </div>
      <button class="btn btn-primary info" type="button" data-toggle="collapse"  href="#details" role="button" aria-expanded="false" aria-controls="details" >MORE INFO</button>
      <div class="collapse" id="details">
        <div class="card card-body">
        <h5>Country code : {{data.country_code}}</h5>  
        <h5>Coordinate : {{data.coordinate}}</h5>
        
        <h5>Pressure : {{data.pressure}} </h5>
        <h5>Humidity : {{data.humidity}}</h5>
        </div>
      </div>
      </div>
      <div class="col-md-6">
           <!-- Map-->
          <div id="map"class="row"></div>
     </div>
        
    </div>


    
    <script>
      mapboxgl.accessToken =
        "pk.eyJ1Ijoic2F1cmFiaGp1bW5hbGthciIsImEiOiJja3JpMXp1bXcycXhxMnBxdXptcWhubDd3In0.Z15Jr5hPGMPMMKb_QmnNDg";
      var la = JSON.parse("{{la|escapejs}}");
      let i = 0;
      let marker = [];
      var map = new mapboxgl.Map({
        container: "map", // Container ID
        style: "mapbox://styles/mapbox/streets-v11", // Map style to use
        center: la, // Starting position [lng, lat]
        zoom: 10, // Starting zoom level
      });

        marker = new mapboxgl.Marker() // initialize a new marker
          .setLngLat(la) // Marker [lng, lat] coordinates
          .addTo(map);
      
    </script>
    
    
    <!-- Weather Data Visualization -->
    <button class="btn btn-primary desc text-center center-block" type="button" data-toggle="collapse"  href="#datavisu" role="button" aria-expanded="false" aria-controls="details" >Weather Forcast</button>
    <div class="collapse" id="datavisu">
      <div class="card card-body">
        <hr />
        <h3 class="text-center text-success"id="DESC"></h3>
        <div class="row">
          <div class="col-md-6">
            <canvas id="myChartline1"></canvas>
          </div>
          <div class="col-md-6">
            <canvas id="myChartline2"></canvas>
          </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
      
  
  var endpoint = '/api';
  
    
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data) {
        document.getElementById("DESC").innerHTML = data.desc;

        drawLineGraph(data, 'myChartline1',data.pressureData,'Pressure','rgb(209, 39, 33)');
        console.log(data.pressureData);
        drawLineGraph(data, 'myChartline2',data.chartdata,'Temperature','rgb(55, 99, 132)');
        console.log(data.chartdata);
      },
      error: function(error_data) {
        console.log(error_data);
      }
    })    
  // drawLineGraph function   
  function drawLineGraph(data, id,chart_data,dataHeading,color) {
      var labels = data.labels;
      var chartLabel = data.chartLabel;
      var chartdata = chart_data;
        var ctx = document.getElementById(id).getContext('2d');
        var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',
    
          // The data for our dataset
          data: {
            labels: labels,
            datasets: [{
              label:dataHeading,
              borderColor:color,
              data: chartdata,
              
            },
          ]
          },
    
          // Configuration options go here
          options: {
            scales: {
              xAxes: [{
                display: true
              }],
              yAxes: [{
                ticks: {
                  beginAtZero:false
                }
              }],
              
              
            }
          }
    
        });
      }
    
    </script>



    {% endif %}
  </div>
</body>

</html>